@import url("http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic");

body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-family: 'Nobile', serif;
}
div {
	text-align: center;
}
.main {
	margin-top: 130px;
	font-size: 90px;
	font-weight: bold;
}

.venue {
	margin: 80px 0;
	font-size: 40px;
}

.contact {
	margin-bottom: 10px ;
	font-size: 20px;
}
	.contact a {
		color: white;
		text-decoration:none;
	}