@charset "UTF-8";
/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: #F29133;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

/**** Claerfix ******/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* CSS Document */
/* STARTECHCONF 2011 */
/* Development by Continuum Chile*/

.no-mostrar{
	display: none;
}

body {
	margin: 0;
	padding: 0;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	background: url(../images/bg-texture.png) repeat;
}

#header .block-content,
.content-section .block-content,
#footer .block-content{
	width: 975px;
	margin: 0 auto;
	overflow: hidden;
	padding-left: 5px;
}

#header {
	background: #2d3849;
	overflow: hidden;
	box-shadow: -5px 1px 2px #000;
	-moz-box-shadow: -5px 1px 2px #000;
	-webkit-box-shadow: -5px 1px 2px #000;
}

.bloqueInfo {
	padding: 10px 0;
	position: absolute;
    top: 48px;
    right: 10%;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	color: #2D3849;
	z-index: 10;
	opacity: 0;
}

    .bloqueInfo p {
        margin:0;
        color:#2D3849;
    }

    .bloqueInfo a {
        color:#2D3849;
    }
    .bloqueInfo a:hover {
        color: #F29133;
        text-decoration: none;
    }


.registration-button {
	padding: 16px;
	position: absolute;
    cursor: pointer;
    top: 130px;
	right: 10%;
}
    .registration-button a {
        color:#fff;
        text-decoration: none;
        display: block;
        width: 100%;
        background-color: #F29133;
        text-align: center;
        font-size: 2.2em;
        border-radius: 10px;
        -o-border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
        z-index: 10;
        border: 2px solid #B0B0B0;
        border-top:none;
        border-left:none;
        padding: 15px 10px;
    }
    .registration-button a:hover {
        color: #fff;
        background-color: #F59438;
    }
    .registration-button a:active {
        color: #fff;
        background-color: #AAA;
    }
.title-header{
	background: #fff;
}

.title-header h1{
    background: transparent url('../images/main-logo.png') center center no-repeat;
    width: 370px;
    height: 150px;
    text-indent: -100000px;
    display: block;
    outline: 0px;
    margin:  1em 0;
    float: left;
}


.title-header a.button{
    float: right;
    background: #a52a2a;
}

/* =============================================================================
   Buttons
   ========================================================================== */

.ui-button{
	text-transform: uppercase;
    font-weight: bold;
	color: white;
    font-size: 0.8em;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 1px 1px 0px #ccc;
    -moz-box-shadow: 0px 1px 1px 0px #ccc;
    -o-box-shadow: 0px 1px 1px 0px #ccc;
	box-shadow: 0px 1px 1px 0px #ccc;
    -webkit-border-radius: 1px;
    -khtml-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
    /*  ********* Buttons sizes, it also defines size by default **********  */
    .ui-button{
        width: auto;
        padding: 0.2em 1em;
        font-size: 1.2em;

        color: white;
        background: #d89a0e; /* Old browsers */
        background: -moz-linear-gradient(top, #d89a0e 0%, #ffb619 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d89a0e), color-stop(100%,#ffb619)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #d89a0e 0%,#ffb619 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #d89a0e 0%,#ffb619 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, #d89a0e 0%,#ffb619 100%); /* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d89a0e', endColorstr='#ffb619',GradientType=0 ); /* IE6-9 */
        background: linear-gradient(top, #d89a0e 0%,#ffb619 100%); /* W3C */
    }


#main-nav{
	border-bottom: 4px solid #8f99a5;
	overflow: hidden;
}

	#main-nav ul{
		list-style: none;
		float: left;
	}

	#main-nav ul li{
		float: left;
	}

        #main-nav ul li a{
            color: #FFF;
            padding: 14px 8px;
            text-decoration: none;
            display: block;
            font-size: 14px;
            text-transform: uppercase;
        }

        #main-nav ul li a:hover,
        #main-nav ul li.selected a{
            background: #495666;
            text-shadow: 1px -1px 10px #333;
            outline: 0;
            text-shadow: 1px 2px 0 #000;
        }

        #main-nav ul li.home a {
            text-indent: -8000px;
            background: transparent url("../images/ico_home.png") center 4px no-repeat;
            padding: 14px 18px;
        }
        #main-nav ul li.home a:hover {
            background: #495666 url("../images/ico_home.png") center -32px no-repeat;
        }
        #main-nav ul li.rss a{
            background: transparent url('../images/rss_icon.png') center center no-repeat;
            text-indent: -9999px;
            padding: 14px 0;
        }

#select-language{
	display: block;
	float: right;
	padding: 15px 4px;
	text-transform: uppercase;
	color: #FFF;
}

	#select-language a{
		display: inline-block;
		width: 16px;
		height: 11px;
		outline: 0px;
		text-indent: -100000px;
		margin-left: 4px;
		margin-top: 2px;
		background: url('../images/sprite-flags.png') no-repeat;
	}

	#select-language span{
		vertical-align: top;
	}

	#select-language a.portuguese{
		background-position: 0 -22px;
	}

	#select-language a.english{
		background-position: 0 -11px;
	}

	#select-language a.spanish{
		background-position: 0 0;
	}

	#select-language a.portuguese{
		background-position: 0 -22px;
	}

.subtitle-header{
	background: #495666;
	color: #d5e1ef;
	padding: 15px 10px;
	box-shadow: inset 0px 1px 2px #000;
	-moz-box-shadow: inset 0px 1px 2px #000;
	-webkit-box-shadow: inset 0px 1px 2px #000;
}

	.subtitle-header .block-content{
		padding: 0 15px;
		width: 950px !important;
	}

	.subtitle-header h2{
		font-size: 24px;
		text-shadow: -3px 2px 0 #000;
		letter-spacing: -0.02em;
	}

.content-section {
overflow: hidden;
}

	.content-section h3{
		font-size: 30px;
		line-height: 38px;
		color: #fff;
		letter-spacing: -0.01em;
		text-shadow: -3px 2px 0 #000;
		text-transform: uppercase;
        display: inline-block;
		padding: 8px 22px;
		box-shadow: 0 0 5px #131D28;
		-moz-box-shadow: 0 0 5px #131D28;
		-webkit-box-shadow: 0 0 5px #131D28;
	}
        #price h3{
            display: block;
            width: 300px;
            text-align: center;
        }

	.content-section.bg-on {
		background-color: #364455;
	}

	.content-section.bg-on h3{
		background-color: #2D3849;
	}

	.content-section.bg-off {
		background: none;
	}

	.content-section.bg-off h3{
		background-color: #364455;
	}

	.content-section.last{
		margin-bottom: 60px;
	}

	.content-section .block-content{
		padding: 45px 0 34px 10px;
		font-size: 18px;
		line-height: 22px;
		color: #fff;
		letter-spacing: -0.01em;
		/*text-shadow: -3px 2px 0 #000;*/
		width: 970px !important;
	}

p.when {
	font-size: 30px;
    font-weight: bold;
}

p.where {
	font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    vertical-align: bottom;
}
    p.where a.map{
        color: white;
        display: inline-block;
        width: 20px;
        height: 34px;
        background: transparent url("../images/marker_34_green.png") center center no-repeat;
        text-indent: 9000px;
    }

.content-section#resume {
 text-shadow: -3px 2px 0 #000;
}

.content-section#resume .block-content p{
	margin-bottom: 22px;
}

.content-section#resume .block-content strong{
    font-weight: bold;
}

#keynoters .phrase{
	float: left;
	font-size: 24px;
	color: #a4b8d0;
	text-shadow: -1px 1px 2px #000;
	margin-left: 18px;
	padding-top: 12px;
}

#keynoters .allkeynoters{
	clear: both;
	margin: 50px 0 0 0;
	overflow: hidden;
	float: left;
	padding-left: 4px;
}

    .keynoter{
        margin: 0 15px 25px 0;
        color: #bfcfe1;
        clear: both;
        width: 620px;
        margin-bottom: 40px;
    }
        .keynoter img{
            width: 80px;
            height: 80px;
            margin-bottom: 26px;
            box-shadow: -4px 4px 0 #000000;
            -moz-box-shadow: -4px 4px 0 #000000;
            -webkit-box-shadow: -4px 4px 0 #000000;
            background: #000;
            margin-right: 18px;
            float: left;
        }

        .keynoter h4{
            font-size: 20px;
            color: #F29133;
            margin-bottom: 5px;
            display: inline;
        }

        .keynoter .content_twiiter{
            margin: 6px 0;
        }

        .keynoter a.sp_twitter{
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            padding-left: 22px;
            background: transparent url('../images/twitter.png') left center no-repeat;
        }

        .keynoter p{
            margin-top: 2px;
            line-height: 20px;
            font-size: 14px;
            width: 100%;
        }
        .keynoter a{
            text-decoration: underline;
            color: white;
        }
        .keynoter a:hover{
            text-decoration: none;
        }
.crew #header img {
    margin: 10px 0;
}


#crew .allkeynoters{
	clear: both;
	overflow: hidden;
    margin-top: 40px;
}

    .organizer{
        margin: 0 10px 0 0;
        color: #bfcfe1;
        float: left;
        width: 180px;
    }
        .organizer img{
            width: 80px;
            height: 80px;
            margin-bottom: 26px;
            box-shadow: -4px 4px 0 #000000;
            -moz-box-shadow: -4px 4px 0 #000000;
            -webkit-box-shadow: -4px 4px 0 #000000;
            background: #000;
            margin-right: 4px;
            float: left;
        }

        .organizer h4{
            font-size: 20px;
            color: #F29133;
            margin-bottom: 5px;
            display: inline;
        }

        .organizer .content_twiiter{
            margin: 6px 0;
        }

        .organizer a.sp_twitter{
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            padding-left: 22px;
            background: transparent url('../images/twitter.png') left center no-repeat;
        }
        .organizer a.sp_twitter:hover{
            text-decoration: underline;
        }
        .organizer p.desc{
            clear: both;
            margin-top: 2px;
            line-height: 20px;
            font-size: 14px;
            width: 100%;
        }
        .organizer a{
            text-decoration: underline;
            color: white;
        }
        .organizer a:hover{
            text-decoration: none;
        }

.last-row{
	margin-right: 0;
}

.content-section#sponsors .block-content{
	padding: 35px 5px 10px 5px;
	width: 960px !important;
}

.content-section#sponsors {
	background: #fff;
}

.content-section .leftblock {
	float: left;
	width: 650px;
}

    .content-section .leftblock h3{
        float: left;
    }
/*  ********* Sponsors **********  */

.content-section .rightblock {
	float: right;
	width: 280px;
}

.sponsor-content{
	clear: both;
	overflow: hidden;
	margin-top: 4px;
	margin-bottom: 10px;
}

.sponsor-content a {
	outline: 0px;
}

#sponsors h3 {
	box-shadow: none;
    margin-bottom: 20px;
}

.sponsor-block{
	overflow: hidden;
	padding: 20px 0 0 0;
	padding-left: 4px;
}

.sponsor-content p{
	color: #FFF;
	font-size: 16px;
	padding-left: 10px;
	line-height: 20px;
}
.sponsor-content p a.contact{
	text-decoration: none;
	color: #aabacc;
}

.sponsor-content h4{
	font-size: 20px;
	color: #FFF;
	margin-bottom: 14px;
}

.sponsors-list{
	background: #fff;
	min-height: 45px;
	box-shadow: -2px 2px 0 #000000;
	-moz-box-shadow: -2px 2px 0 #000000;
	-webkit-box-shadow: -2px 2px 0 #000000;
}

.sponsors-list ul{
    width: 100%;
	list-style: none;
}

.sponsor-content li{
	margin: 8px 4px;
    text-align: center;
    border-top: 1px dashed #ddd;
    padding: 15px 0 0 0;
}

    .sponsor-content li.first {
        border-top: none;
    }

    .sponsor-content li a {
        display: block;
    }
    .sponsor-content li p {
        display: none;
    }

    .sponsor-content .platinum img,
    .sponsor-content .golden img{
        width: 230px;
    }

    .sponsor-content .golden{
        padding-top: 20px;
    }

    .sponsor-content .silver{
        padding-top: 20px;
    }

    .sponsor-content .silver img,
    .sponsor-content .endorsements img
    {
        /*width: 220px;*/
    }

    .sponsor-content .endorsements{
        padding-top: 20px;
    }

/*  ********* Price **********  */

.price-numbers{
	text-align: left;
	padding: 45px 6px 6px 6px;
	float: left;
	margin: 0 5px;
	width: 25%;
	color: #BFCFE1;
}

    .price-numbers h4{
        font-size: 42px;
        font-weight: bold;
        color: #FFF;
        margin: 0;
        line-height: 32px;
        text-shadow: 0 0 6px #000;
    }

    .price-numbers p{
        font-size: 24px;
        display: block;
        margin: 5px 0;
    }

.price-desc {
	margin-left: 10px;
}

    .price-desc p {
        clear: both;
        color: #fff;
        font-size: 16px;
        margin-top: 30px;
    }

/*  ********* Device version **********  */

#device_version {
    text-align: center;
    font-size: 14px;
    color: white;
}
    #device_version a {
        color: white;
    }

/*  ********* Footer **********  */

#footer {
	background: #2e3b4b;
	background-image: -moz-linear-gradient(top, #2e3b4b, #495666);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2e3b4b), color-stop(1, #495666));
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorStr='#2e3b4b', EndColorStr='#495666')";
	padding: 6px 0 4px 0;
    z-index: 11;
	display: block;
	width: 100%;
	color: #fff;
	border-top: 1px solid #495666;
}

	#footer a{
		color: #333;
		font-weight: bold;
		text-decoration: none;
	}

	#footer .copyright{
		float: left;
		padding-left: 6px;
		width: 25%;
		margin-top: 8px;
	}

    #footer .social_bar{
        width: 460px;
        height: 20px;
        padding: 5px 0;
        float: right;
        margin-top: 5px;
    }
        #footer .social_bar div{
            float: right;
        }
        #footer .social_bar .c_plusone{
            height: 20px;
            width: 70px;
        }
        #footer .social_bar .c_twitter{
            height: 20px;
            width: 115px;
        }
        #footer .social_bar .c_facebook{
            width: 95px;
            height: 20px;
        }
        #footer .social_bar .c_buzz{
            width: 105px;
            height: 20px;
        }

    #footer .twitter_followus{
        width: 180px;
        height: 30px;
        padding: 0;
        text-align: right;
        float: right;
        margin-top: 5px;
    }

.clearfix{
	 clear: both;
}


/* Popup Modal */
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

.modal{
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 9999;
	display: none;
}

    .modal-icon-close{
        position: absolute; top:0; right:0;
        margin-top: -25px;
        display: block;
        cursor: pointer;
        background: url("../images/close-icon.png") left top no-repeat;
        z-index: 120;
        width: 34px;
        height: 34px;
        text-indent: -100000px;
        border: none;
    }

    .modal-border, .modal-border-error {
        position: absolute;
        background: #17202e;
        opacity: 0.8;
        width: 590px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        z-index: 98;
        border: 20px solid #17202e;
    }

    .modal-border {
        height: 390px;
    }

    .modal-border-error {
        height: 238px;
    }

    #recaptcha_widget_div {
        text-align: center;
        padding-left: 136px;
    }

    .modal-content{
        position: absolute;
        background: #495666;
        margin-top: 14px;
        margin-left: 14px;
        color: #FFF;
        padding: 0 0 20px 0 ;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        font-size: 18px;
        text-shadow: -3px 2px 0 #000;
        width: 600px;
        z-index: 99;
        box-shadow: 0 0 12px #333;
        -moz-box-shadow: 0 0 12px #333;
        -webkit-box-shadow: 0 0 12px #333;
    }

        .modal-content .recaptcha_area{
            text-shadow: none;
        }
        .modal-content h3 {
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: -0.02em;
            background: #2D3849;
            padding: 16px 28px;
            -webkit-border-top-left-radius: 6px;
            -webkit-border-top-right-radius: 6px;
            -moz-border-radius-topleft: 6px;
            -moz-border-radius-topright: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            text-align: center;
        }

        .modal-content p{
            padding: 16px 45px;
            line-height: 20px;
            text-align: center;
        }

        .content-register{
            text-shadow: none;
            padding: 10px 30px;
            text-align: center;
        }

        .modal-content label{
            text-shadow: none;
        }

        .modal-content .box{
            border: 1px solid #a4b8d0;
            font-size: 18px;
            padding: 6px;
            color: #2D3849;
            background: #364455;
            width: 330px;
            margin-right: 6px;
            vertical-align: middle;
            color: #a4b8d0;
        }

        .modal-content .box: focus{
            border-color: #FFF;
            color: #FFF;
        }

        .modal-content .content-register a{
            color: #a4b8d0;
            margin-left: 10px;
            text-decoration: none;
        }

        .modal-content .content-register a:hover{
            color: #FFF;
            text-decoration: underline;
        }

        .modal-content .button{
            background: url(../images/bg-big-button.png) no-repeat;
            border: 0;
            text-transform: uppercase;
            color: #FFF;
            text-shadow: 2px 2px 0 #000;
            font-size: 15px;
            padding: 10px 23px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            cursor: pointer;
            box-shadow: -1px 0 4px #000000;
            -moz-box-shadow: -1px 0 4px #000000;
            -webkit-box-shadow: -1px 0 4px #000000;
            margin-top: 18px;
        }

        .modal-content .button.cancel{
            background: none;
            border: 0;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            text-transform: none;
        }

        .modal-content .button:hover{
            background-position: 0 bottom;
        }

#fb_comments{
    background-color: white;
    height: 80px;
    overflow:  en;
    width: 530px;
    padding: 0 5px;
}
/* Select language */
.selectlanguage  {
    margin: 0 5px;
    border-width: 0;
}

.abstract-link-container {
  color: #fff;
  margin:10px 0 0 100px;
}
.abstract-content {
  display:none;
  margin-top: 5px;
  color: #fff;
  text-shadow:none;
  margin: 10px 0 0 100px;
}

.talk-title {
  text-decoration:underline;
}

.hidden {
  display:none;
}

#schedule table {
  margin-top: 30px;
  margin-bottom: 30px;
}

.simul {
    display: block;
    border:  1px solid #F0C36D;
    color: #222;
    background: #F9EDBE;
    padding: 2px 5px;
}