{% extends "templates/base.html" %}

{% block title %}StarTechConf{% endblock %}

{% block media %}
	<link type="text/css" rel="stylesheet" href="media/css/comingsoon.css" />
{% endblock %}

{% block article %}
	<div class="main"> 
		★ Tech Conf
	</div> 
	<div class="venue"> 
		Coming in November(ish), 2011 <br/>Santiago, Chile.
	</div>
	<div class="contact"> 
		<p><a href="mailto:contact@startechconf.com">contact@startechconf.com</a></p>
		<p>
			<a href="http://www.twitter.com/StarTech2011"><img src="media/images/follow_us.png" alt="Follow StarTech2011 on Twitter"/></a>
		</p>
	</div>
{% endblock %}
