{% extends "templates/base.html" %}

{% block title %}StarTechConf{% endblock %}
{% block media %}
    <link href="media/css/main.css" type="text/css" rel="stylesheet" />
    <script src="media/js/jquery-1.6.1.min.js"></script>
    <!--<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>-->
    <script src="http://platform.twitter.com/anywhere.js?id=XSZtnLVbWuTQzPXpxihew&v=1"></script>
    <script src="media/js/main.js"></script>
{% endblock %}
{% block article %}
<div id="header">
    <div id="main-nav">
        <div class="block-content">
            <ul id="menu">
                <li><a href="/">{{ lang.menu_home }}</a></li>
                <li><a href="/#keynoters">{{ lang.menu_speakers }}</a></li>
                <li><a href="/#sponsors">{{ lang.menu_sponsors }}</a></li>
                <li><a href="/#price">{{ lang.menu_price }}</a></li>
                <li><a href="http://blog.startechconf.com/">Blog</a></li>
                <li class="rss"><a href="http://blog.startechconf.com/feeds/posts/default?alt=rss">Feed RSS</a></li>
            </ul>
            <div id="select-language"> <span>{{lang.choose_your_language}}</span>
                <select class="selectlanguage" id="selectlanguage" current="{{lang.id}}">
                    <option value="es" {% ifequal "es" lang.id  %}selected="selected"{% endifequal %}>{{lang.spanish}}</option>
                    <option value="en" {% ifequal "en" lang.id  %}selected="selected"{% endifequal %}>{{lang.english}}</option>
                    <option value="pt" {% ifequal "pt" lang.id  %}selected="selected"{% endifequal %}>{{lang.portuguese}}</option>
                </select>
            </div>
        </div>
        <div class="title-header">
            <div class="block-content">
                <div class="logo"> <img src="media/images/main-logo.png" alt="STARTECHCONF Santiago Chile 2011" title="STARTECHCONF Santiago Chile 2011" />
                    <h1>STARTECHCONF Santiago Chile 2011</h1>
                </div>
                <div id="counter">
                    <p class="numbers">{{ count }}</p>
                    <p>{{lang.we_are}}</p>
                    <p style="font-size:13px;font-weight:normal;text-decoration">{{lang.news}}</p>
                </div>
            </div>
        </div>
        <div class="subtitle-header">
            <div class="block-content">
                <h2>{{lang.event_title}}</h2>
            </div>
        </div>
    </div> <!-- end of #main-nav -->
</div> <!-- end of #header -->

<div class="content-section" id="resume">
    <div class="block-content">
        <p class="when">{{lang.when}}</p>
        <p class="where">{{lang.where}}</p>
        <p>{{lang.event_desc_p1}}</p>
        <p>{{lang.event_desc_p2}}</p>
    </div>
</div>
<div class="content-section bg-on">
    <div class="block-content">
        <div class="leftblock" id="keynoters">
            <h3>{{lang.speakers_title}}</h3>
            <p class="phrase">{{lang.speakers_desc}}</p>
            <div class="allkeynoters">
                <div class="keynoter">
                    <img src="media/images/keynoters/rey_bango.jpg" alt="Rey Bango">
                    <h4>Rey Bango </h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/reybango" class="sp_twitter" target="_blank">@reybango</a></p>
                    <p>{{ lang.speaker_ReyBango }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="rey" href="#">
                          Start Using HTML5 Today with Polyfills and Shims
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-rey" class="abstract-content">
                      <p>
                        Everyone wants to jump into HTML5 but how do you use the cool
                        features of this new specification while ensuring older browsers
                        render your web pages as expected? This is where polyfills and shims
                        come in. In the session, you’ll learn how to use specially crafted
                        JavaScript and CSS code that emulate HTML5 features so that you can
                        take advantage of HTML5 today without breaking your sites in older
                        browsers.
                      </p>
                    </div>                    
                </div>
                <div class="keynoter">
                    <img src="media/images/keynoters/charles_nutter.jpg" alt="Charles Nutter">
                    <h4>Charles Nutter</h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/headius" class="sp_twitter" target="_blank">@headius</a></p>
                    <p>{{ lang.speaker_CharlesNutter }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="charles" href="#">
                          Building Languages for the JVM
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-charles" class="abstract-content">
                      <p>
                        The JVM has traditionally been associated with one language: Java. Most applications and libraries that run on the
                        JVM are written in Java, and most of the tools available focus on Java. But that's changing. There are dozens of
                        languages implemented atop the JVM, with several of them heavily used by real-world developers today. How did
                        we get here, and how hard or easy is it to target a language to the JVM?
                      </p>
                      <p>
                        This talk will go over the strategies needed to implement languages on the JVM. We'll talk about the JVM's built-in
                        capabilities like GC and JIT and how you can monitor and tune them. Well talk about code generation and how the
                        JVM's stack operates. We'll look at how the JVM optimizes code. And we'll look at two languages, JRuby and Mirah,
                        as case studies.
                      </p>
                    </div>                    
                </div>
                <div class="keynoter">
                    <img src="media/images/keynoters/paul_irish.jpg" alt="Paul Irish">
                    <h4>Paul Irish</h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/paul_irish" class="sp_twitter" target="_blank">@paul_irish</a></p>
                    <p>{{ lang.speaker_PaulIrish }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="paul-irish" href="#">
                          Developing HTML5 for a Cross-browser World
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-paul-irish" class="abstract-content">
                      <p>
                        HTML5 and friends have been getting implemented in browsers at an impressively quick pace. But that leaves us as
                        web developers wondering, “Great, but how am I supposed to build cross-browser applications with these features
                        when I still have to support IE”.
                      </p>
                      <p>
                        We’ll break down HTML5 into categories of features: some implementable today, others reserved for hackers. We’ll
                        go into how to handle older browsers by providing them with today’s features or discussing how to convince your
                        clients to let the experience be different.You’ll walk away knowing how and what to implement from HTML5 confidently, and have the tools and resources
                        necessary to develop to equip your team as HTML5 heroes.                        
                      </p>
                    </div>                    
                </div>
                <div class="keynoter">
                    <img src="media/images/keynoters/stephanie_sullivan.jpg" alt="Stephanie Sullivan"/>
                    <h4>Stephanie (Sullivan) Rewis</h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/stefsull" class="sp_twitter" target="_blank">@stefsull</a></p>
                    <p>{{ lang.speaker_StephanieSullivan }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="stephanie" href="#">
                           CSS3: the web’s Swiss Army Knife updated and improved
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-stephanie" class="abstract-content">
                      <p>
                        Throughout the years, the Swiss Army Knife has been the trusted companion of scouts and explorers alike, and for
                        front-end developers, CSS has been a trusty, if sometimes frustrating, companion. And just as blades, scissors and
                        sundry tools have been added to the Swiss Army Knife, with CSS3, we have new tools and implements of creativity,
                        and some tried and true tools have been honed and sharpened. Of course the key to success is knowing which of
                        the many tools to use and how to wield them in a given situation. Join Stephanie Rewis as she explores some shiny
                        enhancements to favorite old tools like backgrounds and borders, as well as slices and dices with new tools like CSS
                        masks and more!
                      </p>
                    </div>                    
                </div>
                <div class="keynoter">
                    <img src="media/images/keynoters/jonathan_snook.jpg" alt="Jonathan Snook"/>
                    <h4>Jonathan Snook</h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/snookca" class="sp_twitter" target="_blank">@snookca</a></p>
                    <p>{{ lang.speaker_JonathanSnook }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="jonathan-snook" href="#">
                          Fake it 'til you make it: creating mobile apps that feel like native apps
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-jonathan-snook" class="abstract-content">
                      <p>
                        This session will look at the process of creating a web app that feels
                        more like a native app, from how to approach style, CSS, what
                        JavaScript APIs are available and look at developing apps across iOS,
                        webOS, and Android.
                      </p>
                    </div>                    
                </div>
                <div class="keynoter">
                    <img src="media/images/keynoters/obie_fernandez.jpg" alt="Obie Fern&aacute;ndez"/>
                    <h4>Obie Fern&aacute;ndez</h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/obie" class="sp_twitter" target="_blank">@obie</a></p>
                    <p>{{ lang.speaker_ObieFernandez }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="obie" href="#">
                          To Test or Not To Test
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-obie" class="abstract-content">
                      <p>
                        One of the cornerstones of disciplined Agile software development isproper test coverage. Does your implementation match its
                        specification? Have you considered edge cases? So-called "highceremony" approaches advise stringent devotion to writing test code
                        first. In this talk, Obie considers his over 10 years of experience with
                        these thoughts and philosophies and how they work in practice, from
                        the enterprise to startup worlds, and muses on future progress in
                        this area.
                      </p>
                    </div>                    
                </div>
                <div class="keynoter">
                    <img src="media/images/keynoters/greg_rewis.jpg" alt="Greg Rewis"/>
                    <h4>Greg Rewis</h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/garazi" class="sp_twitter" target="_blank">@garazi</a></p>
                    <p>{{ lang.speaker_GregRewis }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="greg-rewis" href="#">
                          From Zero to Mobile App in 60 Seconds
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-greg-rewis" class="abstract-content">
                      <p>
                        Unless you've been hiding under a rock, you know that HTML5, CSS3 and Javascript are combining to move the web
                        from the confines of the desktop onto a multitude of devices and screen sizes. And through the magic of the jQuery
                        Mobile and PhoneGap frameworks, those same technologies are being used to build native applications as well. Join
                        Greg Rewis, as he shows you how to implement a more "native" feel to your traditional web pages using the jQuery
                        Mobile framework and then leverage features of the mobile device itself as you build a completely native, App-store
                        ready, application for Android and iOS! And, yes, the session will actually take a little bit longer than 60 seconds —
                        because Greg talks...alot!
                      </p>
                    </div>                    
                </div>
                <div class="keynoter">
                    <img src="media/images/keynoters/mark_ramm.jpg" alt="Mark Ramm"/>
                    <h4>Mark Ramm</h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/markramm" class="sp_twitter" target="_blank">@markramm</a></p>
                    <p>{{ lang.speaker_MarkRamm }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="mark-ramm" href="#">
                          Data: relational vs !relational
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-mark-ramm" class="abstract-content">
                      <p>
                        To Relate or not to Relate, that is the question raised by the NoSQL movement. There is a lot of buzz about Couch,
                        Casandra, MongoDB, and other non relational databases, and at the same time there are decades of hard work
                        that's gone into optimizing databases built around the relational model.
                      </p>
                      <p>
                        I would actually argue that there is no such thing as a NoSQL database -- there are a variety of compelling options
                        to relational database -- each of which have different features and different performance characteristics. So no
                        one-sized fits all comparison will do. So, I'll try to outline a general taxonomy for persistence mechanisms, and
                        then proceed to comparing relational DB's to their new friends in practice.
                      </p>
                      <p>
                        The talk will contain quite a few stories from the trenches with CouchDB, MongoDB, MySQL, Postgres, Tokyo
                        Cabinet, ZODB, and other databases, and hopefully will help you think about the data storage needs of your
                        applications in new ways.                       
                      </p>
                    </div>                    
                </div>
                <div class="keynoter">
                    <img src="media/images/keynoters/caridy_patino.jpg" alt="Caridy Pati&ntilde;o"/>
                    <h4>Caridy Pati&ntilde;o</h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/caridy" class="sp_twitter" target="_blank">@caridy</a></p>
                    <p>{{ lang.speaker_CaridyPatino }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="caridy" href="#">
                          Conquering the Server Side with Node.JS
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-caridy" class="abstract-content">
                      <p>
                        In our quest to reach the holly grail of the realtime web at Yahoo!, we
                        have invested heavily in technologies that can scale and improve
                        performance and development drastically. One of these technologies
                        is Node.JS, which provides the ability to execute Javascript at the
                        server side, closing the gap between server side and client side code.
                        In this presentation, we want to provide some insight about Node.JS
                        and our effort to adopt it as the main power-force behind Search
                        Direct product.                        
                      </p>
                    </div>                    
                </div>
                <div class="keynoter">
                    <img src="media/images/keynoters/robert_nyman.jpg" alt="Caridy Pati&ntilde;o"/>
                    <h4>Robert Nyman</h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/robertnyman" class="sp_twitter" target="_blank">@robertnyman</a></p>
                    <p>{{ lang.speaker_RobertNyman }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="robert-neyman" href="#">
                          HTML5 APIs: Where no man has gone before
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-robert-neyman" class="abstract-content">
                      <p>
                        This talk aims to introduce you to the plethora of APIs HTML5 and
                        related technologies offer us. Sure, HTML5 brings eye-candy and
                        we'll look at that, but there's so much more to it when it comes to
                        building day-to-day web sites and web applications.                        
                      </p>
                    </div>                    
                </div>
                <div class="keynoter">
                    <img src="media/images/keynoters/mike_hostetler.jpg" alt="Mike Hostetler"/>
                    <h4>Mike Hostetler</h4>
                    <p class="content_twiiter"><a href="https://twitter.com/#!/mikehostetler" class="sp_twitter" target="_blank">@mikehostetler</a></p>
                    <p>{{ lang.speaker_MikeHostetler }}</p>
                    <div class="abstract-link-container">
                      <p>
                        {{ lang.talk_title }}:
                        <a class="abstract-link" id="mike-hostetler" href="#">
                          jQuery('#knowledge').appendTo('#you');
                        </a>
                        »
                      </p>
                    </div>
                    <div id="abstract-mike-hostetler" class="abstract-content">
                      <p>
                        This talk will a quick but thorough introduction to the jQuery Javascript Library. If you have zero experience with
                        jQuery, this is the talk to start with. We will cover jQuery and its history. We'll then start by introducing basic jQuery
                        concepts and principles. Finally, we'll conclude by building a basic jQuery plugin.
                      </p>
                      <p>
                        The content of this talk will be much different than the jQuery training offered prior to the conference. Because of
                        the available time, the training will be diving deep into jQuery concepts. This talk will cover some of the same
                        topics, but will only cover them briefly.                        
                      </p>
                    </div>                    
                </div>
            </div>
        </div> <!-- .lefblock #keynoters -->

        <!--  NUEVO SPONSORS -->
        <div class="rightblock" id="sponsors">
            <h3>{{lang.sponsors_title}}</h3>
            <div class="grupo-sponsors">
                <div class="sponsor-content">
                    <p> <strong>{{lang.want_to_be_sponsor}}</strong> {{lang.send_us_an_email_to}}<strong><a href="mailto:contact@startechconf.com" class="contact">contact@startechconf.com</a></strong> </p>

                    <div class="sponsor-block platinum">
                        <h4>Platinum</h4>
                        <div class="sponsors-list">
                            <ul>
                                <li class="first"><a href="http://www.continuum.cl" target="_blank" title="Continuum Chile"> <img src="media/images/companies/continuum-logo.png" border="0" alt="Continuun Chile"> </a></li>
                                <li><a href="http://www.utfsm.cl" target="_blank" title="Universidad Federico Santa Maria"> <img src="media/images/companies/utfsm-logo.jpg" border="0" alt="Universidad Federico Santa Maria"> </a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sponsor-block golden">
                        <h4>Gold</h4>
                        <div class="sponsors-list">
                            <ul>
                                <li class="first"><a href="http://www.google.com" target="_blank" title="Google"> <img src="media/images/companies/google-logo.png" border="0" alt="Google"> </a></li>
                                <li><a href="http://www.mozilla.org" target="_blank" title="Mozilla Fundation"> <img src="media/images/companies/mozilla-logo.jpg" border="0" alt="Mozilla Fundation"> </a></li>
                                <li><a href="http://www.mediastream.cl" target="_blank" title="Mediastream"> <img src="media/images/companies/mediastream-logo.png" border="0" alt="Mediastream" style="margin: 5px 0;"> </a></li>
                                <li><a href="http://appendto.com" target="_blank" title="appendTo"> <img src="media/images/companies/appendTo.png" border="0" alt="appendTo"> </a></li>
                                <li><a href="http://www.microsoft.com" target="_blank" title="Microsoft"> <img src="media/images/companies/microsoft-logo.png" border="0" alt="microsoft"> </a></li>
                                <li><a href="http://www.betazeta.com" target="_blank" title="Betazeta"> <img src="media/images/companies/betazeta-logo.png" border="0" alt="betazeta"> </a></li>
                                <li><a href="http://www.almaobservatory.org/es" target="_blank" title="ALMA Observatory"> <img src="media/images/companies/alma-logo.png" border="0" alt="ALMA Observatory"> </a></li>
                                <li><a href="http://gonowtech.cl" target="_blank" title="Gonow Tech"> <img src="media/images/companies/logo_gonow_white.png" border="0" alt="Gonow Tech"> </a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sponsor-block silver">
                        <h4>Silver</h4>
                        <div class="sponsors-list">
                            <ul>
                                <li class="first"><a href="http://www.nic.cl" target="_blank" title="NIC Chile"> <img src="media/images/companies/nic-logo.png" border="0" alt="NIC Chile"> </a></li>
                                <li><a href="http://www.eventioz.com" target="_blank" title="Eventioz"> <img src="media/images/companies/eventioz-logo.png" border="0" alt="Eventioz"> </a></li>
                                <li><a href="http://www.github.com" target="_blank" title="GitHub"> <img src="media/images/companies/github-logo.png" border="0" alt="GitHub"> </a></li>
                                <li><a href="http://www.strchile.cl" target="_blank" title="STR Chile"> <img src="media/images/companies/str-logo.png" border="0" alt="STR Chile"> </a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sponsor-block endorsements">
                        <h4>{{lang.endorsement_title}}</h4>
                        <div class="sponsors-list">
                            <ul>
                                <li class="first"><a id="endorsement-startup-chile" href="http://www.startupchile.org" target="_blank" title="Start-Up Chile"> <img src="media/images/companies/startupchile-logo.png" border="0" alt="Start-Up Chile"> </a></li>
                                <li><a id="endorsement-corfo" href="http://www.corfo.cl" target="_blank" title="Corfo"> <img src="media/images/companies/corfo-logo.jpg" border="0" alt="Corfo"> </a></li>
                                <li><a id="endorsement-digitalesxchile" href="http://www.digitalesporchile.org/" target="_blank" title="Digitales por Chile"> <img src="media/images/companies/digitalesxchile.png" border="0" alt="Digitales por Chile"> </a></li>
                            </ul>
                        </div>
                    </div>

                    <p> <strong>{{lang.want_to_be_sponsor}}</strong> {{lang.send_us_an_email_to}}<strong><a href="mailto:contact@startechconf.com" class="contact">contact@startechconf.com</a></strong> </p>
                </div>
            </div>
        </div> <!-- end  .rightblock #sponsors -->
    </div> <!-- end  .block-content -->
</div> <!-- end  .content-section -->

<div class="content-section bg-off last" id="price">
    <div class="block-content">
        <h3>{{lang.conf_price}}</h3>
        <div class="price-numbers">
            <h4>USD 120.00</h4>
            <p>{{lang.ticket_general}}</p>
        </div>
        <div class="price-numbers">
            <h4>USD 50.00</h4>
            <p>{{lang.ticket_students}}</p>
        </div>
        <div class="price-desc">
            <p>* {{lang.conf_price_details_1}} <br>
                * {{lang.conf_price_details_2}} </p>
        </div>
    </div>
    <div id="device_version">{{ lang.links_version_device }} </div>
</div>
<div id="footer">
    <div class="block-content">
        <p class="copyright">&copy; 2011 All rights reserved.<br/>Powered by Google App Engine.</p>
        <div class="twitter_followus"><a href="http://twitter.com/startechconf" title="follow us on twitter"><img src="media/images/follow_us.png" alt="follow us on twitter"/></a></div>
        <div class="social_bar">

            <div class="c_buzz">
                <a title="Post to Google Buzz" data-button-style="small-count" data-imageurl="http://www.startechconf.com/media/images/main-logo.png" data-locale="{{lang.id}}" data-url="www.startechconf.com" data-message="{{lang.event_title}}. {{lang.date}} http://www.startechconf.com" class="google-buzz-button" href="http://www.google.com/buzz/post">Buzz</a>
                <script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
            </div>
            <div class="c_facebook">
                <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.startechconf.com&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;width=116&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="width:116px; height:21px;" class="facebook-share-button" allowTransparency="true"></iframe>
            </div>
            <div class="c_twitter">
                <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                <a href="http://twitter.com/share" class="twitter-share-button"
                   data-count="horizontal"
                   data-via="startechconf"
                   data-related="startechconf"
                   data-url="www.startechconf.com"
                   data-counturl="www.startechconf.com"
                   data-text="{{lang.event_title}}. {{lang.date}} http://www.startechconf.com"
                   data-via="#"
                   data-lang="{{lang.id}}"
                        >Tweet</a>
            </div>
            <div class="c_plusone">
                <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
                <g:plusone size="medium"></g:plusone>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}