{% extends "templates/base.html" %}

{% block title %}StarTechConf{% endblock %}
{% block media %}
    <link href="media/css/main.css" type="text/css" rel="stylesheet" />
    <script src="media/js/jquery-1.6.1.min.js"></script>

    <link rel="alternate" type="application/atom+xml" title="StarTechConf - Atom" href="http://blog.startechconf.com/feeds/posts/default" />
    <link rel="alternate" type="application/rss+xml" title="StarTechConf - RSS" href="http://blog.startechconf.com/feeds/posts/default?alt=rss" />
    
    <script src="http://platform.twitter.com/anywhere.js?id=XSZtnLVbWuTQzPXpxihew&v=1"></script>
    <script src="media/js/jquery.maxlength.min.js"></script>
    <script src="media/js/main.js"></script>
    <script src="media/js/participa.js"></script>
{% endblock %}
{% block article %}
    <div id="header">
        <div id="main-nav">
            <div class="block-content">
                <ul id="menu">
                    <li><a href="/">{{ lang.menu_home }}</a></li>
                    <li><a href="/#keynoters">{{ lang.menu_speakers }}</a></li>
                    <li><a href="/#sponsors">{{ lang.menu_sponsors }}</a></li>
                    <li><a href="/#price">{{ lang.menu_price }}</a></li>
                    <li><a href="/team">{{ lang.crew_menu }}</a></li>
                    <li><a href="http://blog.startechconf.com/">Blog</a></li>
                    <li class="rss"><a href="http://blog.startechconf.com/feeds/posts/default?alt=rss">Feed RSS</a></li>
                </ul>
                <div id="select-language"> <span>{{lang.choose_your_language}}</span>
                    <select class="selectlanguage" id="selectlanguage" current="{{lang.id}}">
                        <option value="es" {% ifequal "es" lang.id  %}selected="selected"{% endifequal %}>{{lang.spanish}}</option>
                        <option value="en" {% ifequal "en" lang.id  %}selected="selected"{% endifequal %}>{{lang.english}}</option>
                        <option value="pt" {% ifequal "pt" lang.id  %}selected="selected"{% endifequal %}>{{lang.portuguese}}</option>
                    </select>
                </div>
            </div>
            <div class="title-header">
                <div class="block-content">
                    <h1>STARTECHCONF Santiago Chile 2011</h1>
                </div>
            </div>
            <div class="subtitle-header">
                <div class="block-content">
                    <h2>{{lang.event_title}}</h2>
                </div>
            </div>
        </div> <!-- end of #main-nav -->
    </div> <!-- end of #header -->


    <div class="content-section bg-on">
        <div class="block-content">
            <div class="leftblock" id="keynoters">
                <h3>&iexcl;Participa por tu entrada!</h3>
                {% if current_user %}

                    {% if already %}
                        <p class="phrase">&iexcl;Gracias por dejar tu comentario! Puedes aumentar tus posibilidades participando cuantas veces quieras.<br /><br /></p>
                    {% else %}
                        <p class="phrase">Hola {{ current_user.name }},
                        deja un comentario sobre StarTechConf y ya estar&aacute;s participando.<br /><br /></p>
                    {% endif %}
                    <form method="POST" action="">
                        <textarea name="content" id="msg" style="margin-left: 20px; width: 500px; height: 70px; border: 1px solid #B0B0B0; font-size: 14px; padding: 10px">No pierdas la oportunidad de aprender de Desarrolladores de Google, Mozilla, jQuery, Microsoft, Adobe y otros en Chile http://goo.gl/rhZrJ</textarea>
                        <br /><div class="status"></div>
                        <br /><input type="submit" value=" Enviar comentario " style="margin-left: 20px; font-size: 20px; padding: 10px" />
                    </form>
                    <div style="width: 80%; padding: 20px">
                        <p><fb:login-button autologoutlink="true" perms="publish_stream">Cerrar sesi&oacute;n</fb:login-button></p>
                        <p><a href="{{ authurl }}" title="Publica en Twitter"><img style="margin-top: 10px" src="media/images/ingresartt.png" alt="Publica en Twitter" /></a></p>
                    </div>

                {% else %}

                    {% if current_user_twitter %}

                        {% if already %}
                            <p class="phrase">&iexcl;Gracias por dejar tu comentario! Puedes aumentar tus posibilidades participando cuantas veces quieras.<br /><br /></p>
                        {% else %}
                            <p class="phrase">Hola {{ current_user_twitter.name }},
                            deja un comentario sobre StarTechConf y ya estar&aacute;s participando.<br /><br /></p>
                        {% endif %}
                        <form method="POST" action="">
                            <textarea name="content" id="msg" style="margin-left: 20px; width: 500px; height: 70px; border: 1px solid #B0B0B0; font-size: 14px; padding: 10px">Estoy participando por una entrada para StarTechConf, el evento tecnológico más grande de Chile. http://goo.gl/rhZrJ</textarea>
                            <br /><div class="status"></div>
                            <br /><input type="submit" value=" Enviar comentario " style="margin-left: 20px; font-size: 20px; padding: 10px" />
                        </form>
                        <div style="width: 80%; padding: 20px">
                            <p><a href="/salir/" title="Cerrar sesi&oacute;n"><img style="margin-top: 10px" src="media/images/salirtt.png" alt="Cerrar sesi&oacute;n" /></a></p>
                            <p><fb:login-button autologoutlink="true" perms="publish_stream">Publica en Facebook</fb:login-button></p>
                        </div>

                    {% else %}

                        <p class="phrase">Participa publicando en Twitter/Facebook qu&eacute; opinas de StarTechConf y gana una entrada.<br /><br /></p>
                        <p class="phrase">Mientras m&aacute;s participes, m&aacute;s posibilidades de ganar.<br /><br /></p>
                        <div style="width: 80%; padding: 20px">
                            <p><fb:login-button autologoutlink="true" perms="publish_stream">Ingresa con Facebook</fb:login-button></p>
                            <p><a href="{{ authurl }}" title="Ingresar con Twitter"><img style="margin-top: 10px" src="media/images/ingresartt.png" alt="Ingresa con Twitter" /></a></p>
                        </div>

                    {% endif %}

                {% endif %}

                <div class="allkeynoters">
                    <h3 style="margin-bottom: 15px">Últimos mensajes</h3>

                    {% for post in last_posts %}
                    {% if post.enabled %}
                    <div class="keynoter">
                        <img src="{{ post.profile_img }}" alt="{{ post.nombre }}" style="width: 50px; height: 50px">
                        <h4>{{ post.nombre }}</h4>
                        <p><img src="/media/images/{{ post.network }}.png" alt="{{ post.network }}" height="20" width="20" style="background: none; width: 20px; height: 20px; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;" />  {{ post.fecha|date:"M j, H:i" }}</p>
                        <p>{{ post.msj }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <p>Desarrollado por Crist&oacute;bal Leiva</p>
                    <p><a href="/terminos-condiciones-participa.pdf" target="_blank">Términos y condiciones</a></p>

                </div>

            </div> <!-- .lefblock #keynoters -->

            <!--  NUEVO SPONSORS -->
            {% include "templates/sponsors.html" %}

        </div> <!-- end  .block-content -->
    </div> <!-- end  .content-section -->


    <div class="content-section bg-off last" id="price">
        <div class="block-content">
            <h3>{{lang.conf_price}}</h3>
            <div class="price-numbers">
                <h4>USD 120.00</h4>
                <p>{{lang.ticket_general}}</p>
            </div>
            <div class="price-numbers">
                <h4>USD 50.00</h4>
                <p>{{lang.ticket_students}}</p>
            </div>
            <div class="price-desc">
                <p>* {{lang.conf_price_details_1}} <br>
                    * {{lang.conf_price_details_2}} </p>
            </div>
        </div>
        <div id="device_version">{{ lang.links_version_device }} </div>
    </div>
    <div id="footer">
        <div class="block-content">
            <p class="copyright">&copy; 2011 All rights reserved.<br/>Powered by Google App Engine.</p>
            <div class="twitter_followus"><a href="http://twitter.com/startechconf" title="follow us on twitter"><img src="media/images/follow_us.png" alt="follow us on twitter"/></a></div>
            <div class="social_bar">

                <div class="c_buzz">
                    <a title="Post to Google Buzz" data-button-style="small-count" data-imageurl="http://www.startechconf.com/media/images/main-logo.png" data-locale="{{lang.id}}" data-url="www.startechconf.com" data-message="{{lang.event_title}}. {{lang.date}} http://www.startechconf.com" class="google-buzz-button" href="http://www.google.com/buzz/post">Buzz</a>
                    <script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
                </div>
                <div class="c_facebook">
                    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.startechconf.com&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;width=116&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="width:116px; height:21px;" class="facebook-share-button" allowTransparency="true"></iframe>
                </div>
                <div class="c_twitter">
                    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    <a href="http://twitter.com/share" class="twitter-share-button"
                       data-count="horizontal"
                       data-via="startechconf"
                       data-related="startechconf"
                       data-url="www.startechconf.com"
                       data-counturl="www.startechconf.com"
                       data-text="{{lang.event_title}}. {{lang.date}} http://www.startechconf.com"
                       data-via="#"
                       data-lang="{{lang.id}}"
                            >Tweet</a>
                </div>
                <div class="c_plusone">
                    <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
                    <g:plusone size="medium"></g:plusone>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Facebook -->

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>

{% endblock %}

