<!doctype html> 
<html>
<head>
	<meta name="description" content="StarTechConf brings together thousands of developers for two days of deep technical content, focused on building the next generation of web, mobile, and enterprise applications with open web technologies such as Python, Ruby, HTML5, CSS3, and more.">
	<meta name="keywords" content="startechconf chile, startech chile, event, conferencia, tecnologia, desarrollo web, conference, google, microsoft, yahoo, mozilla, jquery, javascript, programming, android, chrome, developers, santiago, chile">
	<meta content="StarTechConf" name="author">
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/icon_57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/icon_72x72_hdpi.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/icon_114x114.png" />
	{% block media %}

	{% endblock %}
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22159648-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
  <div class="bloqueInfo" id="important-new">
      <p><a href="http://blog.startechconf.com/2011/07/comenzo-la-venta-privada-para-los-pre.html" id="hiperlink" target="_blank">{{ lang.announce }}</a></p>
   </div>			
			{% block article %}{% endblock %}
</body>
</html>
