        <div class="rightblock" id="sponsors">
            <h3>{{lang.sponsors_title}}</h3>
            <div class="grupo-sponsors">
                <div class="sponsor-content">
                    <p> <strong>{{lang.want_to_be_sponsor}}</strong> {{lang.send_us_an_email_to}}<strong><a href="mailto:contact@startechconf.com" class="contact">contact@startechconf.com</a></strong> </p>

                    <div class="sponsor-block platinum">
                        <h4>Platinum</h4>
                        <div class="sponsors-list">
                            <ul class="clearfix">
                                <li class="first"><a href="http://www.continuum.cl" target="_blank" title="Continuum Chile"> <img src="media/images/companies/continuum-logo.png" border="0" alt="Continuun Chile"> </a> <p>Descripcion</p></li>
                                <li><a href="http://www.utfsm.cl" target="_blank" title="Universidad Federico Santa Maria"> <img src="media/images/companies/utfsm-logo.jpg" border="0" alt="Universidad Federico Santa Maria"> </a> <p>Descripcion</p></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sponsor-block golden">
                        <h4>Gold</h4>
                        <div class="sponsors-list">
                            <ul class="clearfix">
                                <li class="first"><a href="http://www.google.com" target="_blank" title="Google"> <img src="media/images/companies/google-logo.png" border="0" alt="Google"> </a> <p>Descripcion</p></li>
                                <li><a href="http://www.mozilla.org" target="_blank" title="Mozilla Fundation"> <img src="media/images/companies/mozilla-logo.jpg" border="0" alt="Mozilla Fundation"> </a> <p>Descripcion</p></li>
                                <li><a href="http://www.mediastream.cl" target="_blank" title="Mediastream"> <img src="media/images/companies/mediastream-logo.png" border="0" alt="Mediastream" style="margin: 5px 0;"> </a> <p>Descripcion</p></li>
                                <li><a href="http://appendto.com" target="_blank" title="appendTo"> <img src="media/images/companies/appendTo.png" border="0" alt="appendTo"> </a> <p>Descripcion</p></li>
                                <li><a href="http://www.microsoft.com" target="_blank" title="Microsoft"> <img src="media/images/companies/microsoft-logo.png" border="0" alt="microsoft"> </a> <p>Descripcion</p></li>
                                <li><a href="http://www.betazeta.com" target="_blank" title="Betazeta"> <img src="media/images/companies/betazeta-logo.png" border="0" alt="betazeta"> </a> <p>Descripcion</p></li>
                                <li><a href="http://www.almaobservatory.org/es" target="_blank" title="ALMA Observatory"> <img src="media/images/companies/alma-logo.png" border="0" alt="ALMA Observatory"> </a> <p>Descripcion</p></li>
                                <li><a href="http://gonowtech.cl" target="_blank" title="Gonow Tech"> <img src="media/images/companies/logo_gonow_white.png" border="0" alt="Gonow Tech"> </a> <p>Descripcion</p></li>
                                <li><a href="http://www.github.com" target="_blank" title="GitHub"> <img src="media/images/companies/github-logo.png" border="0" alt="GitHub"> </a> <p>Descripcion</p></li>
                                <li><a href="http://www.adobe.com" target="_blank" title="Adobe"> <img src="media/images/companies/adobe-logo.png" border="0" alt="Adobe"> </a> <p>Descripcion</p></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sponsor-block silver">
                        <h4>Silver</h4>
                        <div class="sponsors-list">
                            <ul class="clearfix">
                                <li class="first"><a href="http://www.nic.cl" target="_blank" title="NIC Chile"> <img src="media/images/companies/nic-logo.png" border="0" alt="NIC Chile"> </a> <p>Descripcion</p></li>
                                <li><a href="http://www.eventioz.com" target="_blank" title="Eventioz"> <img src="media/images/companies/eventioz-logo.png" border="0" alt="Eventioz"> </a> <p>Descripcion</p></li>
                                <li><a href="http://www.strchile.cl" target="_blank" title="STR Chile"> <img src="media/images/companies/str-logo.png" border="0" alt="STR Chile"> </a> <p>Descripcion</p></li>
                                <li><a href="http://engineyard.com" target="_blank" title="Engine Yard"> <img src="media/images/companies/engine-yard-logo.png" border="0" alt="Engine Yard"> </a> <p>Descripcion</p></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sponsor-block endorsements">
                        <h4>{{lang.endorsement_title}}</h4>
                        <div class="sponsors-list">
                            <ul class="clearfix">
                                <li class="first">
                                    <a id="endorsement-startup-chile" href="http://www.startupchile.org" target="_blank" title="Start-Up Chile">
                                    <img src="media/images/companies/startupchile-logo.png" border="0" alt="Start-Up Chile">
                                    </a>
                                    <p>Descripcion</p>
                                </li>
                                <li><a id="endorsement-corfo" href="http://www.corfo.cl" target="_blank" title="Corfo"> <img src="media/images/companies/corfo-logo.jpg" border="0" alt="Corfo"> </a> <p>Descripcion</p></li>
                                <li><a id="endorsement-digitalesxchile" href="http://www.digitalesporchile.org/" target="_blank" title="Digitales por Chile"> <img src="media/images/companies/digitalesxchile.png" border="0" alt="Digitales por Chile"> </a> <p>Descripcion</p></li>
                                <li><a id="endorsement-ciudadano-inteligente" href="http://www.ciudadanointeligente.org" target="_blank" title="Ciudadano Inteligente"> <img src="media/images/companies/ciudadano-logo.gif" border="0" alt="Digitales por Chile"> </a> <p>Descripcion</p></li>
                            </ul>
                        </div>
                    </div>

                    <p> <strong>{{lang.want_to_be_sponsor}}</strong> {{lang.send_us_an_email_to}}<strong><a href="mailto:contact@startechconf.com" class="contact">contact@startechconf.com</a></strong> </p>
                </div>
            </div>
        </div> <!-- end  .rightblock #sponsors -->