{% extends "templates/base.html" %}

{% block title %}StarTechConf{% endblock %}
{% block media %}
    <link href="media/css/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="media/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/anywhere.js?id=XSZtnLVbWuTQzPXpxihew&v=1"></script>
    <script type="text/javascript" src="media/js/main.js"></script>
    <link rel=stylesheet href="https://docs.google.com/static/spreadsheets/client/css/2238438423-tiler_view_ltr.css" type="text/css" />
<style type="text/css">

.tblGenFixed td {
    padding: 0 3px;
    overflow: hidden;
    white-space: normal;
    letter-spacing: 0;
    word-spacing: 0;
    background-color: #fff;
    z-index: 1;
    border-top: 0 none;
    border-left: 0 none;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.dn {
    display: none
}

.tblGenFixed td.s0 {
    background-color: #495666;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #d5e1ef;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.tblGenFixed td.s2 {
    background-color: #bfcfe1;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #495666;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}

.tblGenFixed td.s1 {
    background-color: #495666;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #d5e1ef;
    text-decoration: none;
    text-align: left;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tblGenFixed td.s16 {
    background-color: white;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    border-right:;
    border-bottom:;
    border-left: 1px solid #CCC;
}

.tblGenFixed td.s17 {
    background-color: white;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    vertical-align: bottom;
    white-space: normal;
    overflow: hidden;
    border-right:;
    border-bottom:;
}

.tblGenFixed td.s12 {
    background-color: #495666;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #d5e1ef;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.tblGenFixed td.s9 {
    background-color: white;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right:;
    border-bottom: 1px solid black;
    border-left: 1px solid #CCC;
}

.tblGenFixed td.s13 {
    background-color: #495666;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #d5e1ef;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tblGenFixed td.s14 {
    background-color: #364455;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}

.tblGenFixed td.s7 {
    background-color: #ededed;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #364455;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tblGenFixed td.s15 {
    background-color: #364455;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #f29133;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.tblGenFixed td.s8 {
    background-color: #ededed;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #364455;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tblGenFixed td.s5 {
    background-color: #364455;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #f29133;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tblGenFixed td.s6 {
    background-color: #364455;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.tblGenFixed td.s10 {
    background-color: white;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right:;
    border-bottom: 1px solid black;
}

.tblGenFixed td.s3 {
    background-color: #bfcfe1;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #495666;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.tblGenFixed td.s4 {
    background-color: #364455;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: bold;
    font-style: normal;
    color: #f29133;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.tblGenFixed td.s11 {
    background-color: white;
    font-family: arial, sans, sans-serif;
    font-size: 100.0%;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
</style>

{% endblock %}
{% block bodyClass %}schedule{% endblock %}
{% block article %}
<div id="header">
    <div id="main-nav">
        <div class="block-content">
            <ul id="menu">
                <li class="home"><a href="/">{{ lang.menu_home }}</a></li>
                <li><a href="/website/schedule.html#keynoters">{{ lang.menu_speakers }}</a></li>
                <li><a href="/schedule">{{ lang.schedule }}</a></li>
                <li><a href="/sponsors">{{ lang.menu_sponsors }}</a></li>
                <li><a href="/website/schedule.html#price">{{ lang.menu_price }}</a></li>
                <li><a href="/team">{{ lang.crew_menu }}</a></li>
                <li><a href="/assistants">{{ lang.assistants }}</a></li>
                <li><a href="http://blog.startechconf.com/">Blog</a></li>
                <li class="rss"><a href="http://blog.startechconf.com/feeds/posts/default?alt=rss">Feed RSS</a></li>
            </ul>
            <div id="select-language">
                <select class="selectlanguage" id="selectlanguage" current="{{lang.id}}">
                    <option value="es" {% ifequal "es" lang.id  %}selected="selected"{% endifequal %}>{{lang.spanish}}</option>
                    <option value="en" {% ifequal "en" lang.id  %}selected="selected"{% endifequal %}>{{lang.english}}</option>
                    <option value="pt" {% ifequal "pt" lang.id  %}selected="selected"{% endifequal %}>{{lang.portuguese}}</option>
                </select>
            </div>
        </div>
        <div class="title-header">
            <div class="block-content">
                <div class="logo">
                    <h1>STARTECHCONF Santiago Chile 2011</h1>
                </div>
            </div>
        </div>
        <div class="subtitle-header">
            <div class="block-content">
                <h2>{{ lang.schedule }}</h2>
            </div>
        </div>
    </div> <!-- end of #main-nav -->
</div> <!-- end of #header -->
<div class="content-section bg-on">
    <div class="block-content">
        <div id="schedule">
          <h3>{{ lang.friday }} {{ lang.november_4 }}</h3>

              <table border="0" cellpadding="0" cellspacing="0" class='tblGenFixed'>
                  <tr>
                      <td class='s12' style='width:9em;'>{{ lang.november_4 }}</td>
                      <td class='s13' style='width:21em;'>Track 1</td>
                      <td class='s13' style='width:22em;'>Track 2 {{ lang.interpreting }}</td>
                      <td class='s13' style='width:21em;'>Track 3</td>
                  </tr>
                  <tr>
                      <td class='s2'>8:00 - 9:30</td>
                      <td colspan="3" class='s3'>Registro + Coffee</td>
                  </tr>
                  <tr>
                      <td class='s4'>9:30 - 9:45</td>
                      <td colspan="3" class='s5'>Bienvenida</td>
                  </tr>
                  <tr>
                      <td class='s6'>9:45 - 10:45</td>
                      <td colspan="3" class='s7'> Stephanie Sullivan: <br/>CSS3: the web’s Swiss Army Knife updated and
                          improved</td>
                  </tr>
                  <tr>
                      <td class='s6'>10:45 - 11:45</td>
                      <td colspan="3" class='s7'>Robert Nymann: <br/>HTML5 APIs: Where no man has gone before</td>
                  </tr>
                  <tr>
                      <td class='s2'>11:45 - 12:15</td>
                      <td colspan="3" class='s3'>Coffee Break</td>
                  </tr>
                  <tr>
                      <td class='s6'>12:15 - 12:45</td>
                      <td class='s7'>Andres Bustamante:<br/>Datos Abiertos en Chile</td>
                      <td rowspan="2" class='s7'>Mike Hostetler: <br/>jQuery(&#39;#knowledge&#39;).appendTo(&#39;#you&#39;)</td>
                      <td rowspan="2" class='s7'>Rey Bango: <br/>Start Using HTML5 Today with Polyfills and Shims</td>
                  </tr>
                  <tr>
                      <td class='s6'>12:55 - 13:25</td>
                      <td class='s8'>Pedro Daire: <br/>Ciudadano Inteligente</td>
                  </tr>
                  <tr>
                      <td class='s2'>13:25 - 15:00</td>
                      <td colspan="3" class='s3'>Pausa para Almuerzo</td>
                  </tr>
                  <tr>
                      <td class='s6'>15:00 - 15:30</td>
                      <td class='s7'>Luis Meijueiro:<br/>Modelo de Madurez para OpenData</td>
                      <td rowspan="2" class='s7'>Charles Nutter: <br/>Building Languages for the JVM</td>
                      <td class='s7'>Pedro Fuentes: <br/>ChileAyuda: Un terremoto, 300 voluntarios y 6 días para
                          construir un portal</td>
                  </tr>
                  <tr>
                      <td class='s6'>15:40 - 16:10</td>
                      <td class='s7'>Ernesto Tagwerker: <br/>La Web Ha Muerto. El Futuro: Web APIs</td>
                      <td style='display:none;'></td>
                      <td class='s7'>Agustín Villena: <br/>Que mantener, arreglar e intentar en la industria chilena de
                          software</td>
                  </tr>
                  <tr>
                      <td class='s6'>16:20 - 16:50</td>
                      <td class='s7'>Markos Calderón: <br/>Lessons Learned from the Development of a Web Conferencing
                          System</td>
                      <td class='s7'>Ravi Mynampaty: <br/>Developing Findability Standards</td>
                      <td class='s7'>Stephen Anderson: <br/>Cómo construimos e hicimos crecer una empresa de consultoría
                          Rails</td>
                  </tr>
                  <tr>
                      <td class='s2'>16:50 - 17:15</td>
                      <td colspan="3" class='s3'>Coffee Break</td>
                  </tr>
                  <tr>
                      <td class='s6'>17:15 - 18:15</td>
                      <td colspan="3" class='s7'>Jonathan Snook: <br/>Fake it &#39;til you make it: creating mobile apps
                          that feel like native apps</td>
                  </tr>
                  <tr>
                      <td class='s4'>18:15 - 19:30</td>
                      <td colspan="3" class='s5'>Lightning Talks</td>
                  </tr>
                  <tr>
                      <td class='s4'>19:30 - 22:00</td>
                      <td colspan="3" class='s7'>Github Drink-up ( Cervezas y Networking )</td>
                  </tr>
              </table>

              <h3>{{ lang.saturday }} {{ lang.november_5 }}</h3>

                <table border="0" cellpadding="0" cellspacing="0" class='tblGenFixed'>
                  <tr>
                      <td class='s12' style='width:9em;'>{{ lang.november_5 }}</td>
                      <td class='s13' style='width:21em;'>Track 1</td>
                      <td class='s13' style='width:22em;'>Track 2 {{ lang.interpreting }}</td>
                      <td class='s13' style='width:21em;'>Track 3</td>
                  </tr>
                    <tr>
                        <td class='s2'>8:00 - 9:00</td>
                        <td colspan="3" class='s3'>Acreditación + Coffee</td>
                    </tr>
                    <tr>
                        <td class='s14'>9:00 - 10:00</td>
                        <td colspan="3" class='s7'>Paul Irish: <br/>Developing HTML5 For a Cross Browser World</td>
                    </tr>
                    <tr>
                        <td class='s14'>10:00 - 11:00</td>
                        <td colspan="3" class='s7'>Mark Ramm: <br/>relational vs !relational</td>
                    </tr>
                    <tr>
                        <td class='s2'>11:00 - 11:30</td>
                        <td colspan="3" class='s3'>Coffee Break</td>
                    </tr>
                    <tr>
                        <td class='s14'>11:30 - 12:00</td>
                        <td rowspan="2" class='s7'>Mike Hostetler: <br/>Using jQuery Mobile</td>
                        <td class='s7'>Hannu Krosing: <br/>PostSQL - PostgreSQL with all good features of NoSQL</td>
                        <td class='s7'> Fernando Blat:<br/>Administración ágil de sistemas en el entorno de una
                            Startup</td>
                    </tr>
                    <tr>
                        <td class='s14'>12:10 - 12:40</td>
                        <td style='display:none;'></td>
                        <td class='s8'>Scott Chacon: <br/>A Tale of Three Trees</td>
                        <td rowspan="2" class='s7'>Obie Fernandez: <br/>To Test or Not To Test</td>
                    </tr>
                    <tr>
                        <td class='s14'>12:50 - 13:20</td>
                        <td class='s8'>Eduardo Silva: <br/>Monkey, HTTP server everywhere.</td>
                        <td class='s7'>Tomas Pollak / Carlos Yaconi: <br/>Post mortem: 24h, 72 DDoS</td>
                        <td style='display:none;'></td>
                    </tr>
                    <tr>
                        <td class='s2'>13:20 - 15:00</td>
                        <td colspan="3" class='s3'>Pausa para Almuerzo</td>
                        <td style='display:none;'></td>
                        <td style='display:none;'></td>
                    </tr>
                    <tr>
                        <td class='s14'>15:00 - 15:30</td>
                        <td class='s7'>Alvaro Aguirre: <br/>Web Scraping for Development of Mobile and Web interfaces</td>
                        <td class='s7'>Gonçalo Silva: <br/>Performance analysis of Rails 3 applications</td>
                        <td class='s7'>Daniel Arsenovski: <br/>Programación paralela en plataforma Java es fácil con
                            Groovy y Grails</td>
                    </tr>
                    <tr>
                        <td class='s14'>15:40 - 16:10</td>
                        <td class='s8'>Movistar Innova y plataforma Bluevia</td>
                        <td class='s7'>Jano Gonzalez: <br/>JRuby: Ruby en un mundo enterprise</td>
                        <td rowspan="2" class='s7'>Caridy Patiño: <br/>Conquering the Server Side with Node.JS</td>
                    </tr>
                    <tr>
                        <td class='s14'>16:20 - 16:50</td>
                        <td class='s8'>Abraham Barrera: <br/> Desarrollo m&oacute;vil multiplataforma: ¿Por d&oacute;nde
                            empezar?</td>
                        <td class='s8'>Chris Kowalik: <br/>Shaven - Templating without mustaches</td>
                        <td style='display:none;'></td>
                    </tr>
                    <tr>
                        <td class='s2'>16:50 - 17:15</td>
                        <td colspan="3" class='s3'>Coffee Break</td>
                    </tr>
                    <tr>
                        <td class='s14'>17:15 - 18:15</td>
                        <td colspan="3" class='s7'>Greg Rewis: <br/>Move it! CSS3 Transitions and Animations</td>
                    </tr>
                    <tr>
                        <td class='s14'>18:15 - 19:15</td>
                        <td colspan="3" class='s7'>Tom Preston-Werner: <br/>Optimizing for Happiness</td>
                    </tr>
                    <tr>
                        <td class='s15'>19:15 - 19:30</td>
                        <td colspan="3" class='s5'>Cierre</td>
                    </tr>
                </table>
    </div> <!-- end  .block-content -->
</div> <!-- end  .content-section -->

<div id="footer">
    <div class="block-content">
        <p class="copyright">&copy; 2011 All rights reserved.<br/>Powered by Google App Engine.</p>
        <div class="twitter_followus"><a href="http://twitter.com/startechconf" title="follow us on twitter"><img src="media/images/follow_us.png" alt="follow us on twitter"/></a></div>
        <div class="social_bar">

            <div class="c_buzz">
                <a title="Post to Google Buzz" data-button-style="small-count" data-imageurl="http://www.startechconf.com/media/images/main-logo.png" data-locale="{{lang.id}}" data-url="www.startechconf.com" data-message="{{lang.event_title}}. {{lang.date}} http://www.startechconf.com" class="google-buzz-button" href="http://www.google.com/buzz/post">Buzz</a>
                <script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
            </div>
            <div class="c_facebook">
                <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.startechconf.com&amp;send=false&amp;layout=button_count&amp;show_faces=false&amp;width=116&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="width:116px; height:21px;" class="facebook-share-button" allowTransparency="true"></iframe>
            </div>
            <div class="c_twitter">
                <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                <a href="http://twitter.com/share" class="twitter-share-button"
                   data-count="horizontal"
                   data-via="startechconf"
                   data-related="startechconf"
                   data-url="www.startechconf.com"
                   data-counturl="www.startechconf.com"
                   data-text="{{lang.event_title}}. {{lang.date}} http://www.startechconf.com"
                   data-via="#"
                   data-lang="{{lang.id}}"
                        >Tweet</a>
            </div>
            <div class="c_plusone">
                <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
                <g:plusone size="medium"></g:plusone>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock %}